<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Courses</title>
</head>
<body>
    <h1>Search Courses</h1>
    <form method="GET">
        <input type="text" name="q" placeholder="Enter course name" value="{{ query }}">
        <button type="submit">Search</button>
    </form>

    <h2>Results:</h2>
    <ul>
        {% for course in courses %}
            <li>Course_id:{{course.course_id}} ---- Course_name : {{ course.course_name }} --- Taught by {{ course.course_teacher }}</li>
        {% empty %}
            <li>No courses found.</li>
        {% endfor %}
    </ul>
</body>
</html>
